<div class="p-4">
  <h1 class="text-2xl font-bold">Farmacia - Inventario</h1>
  <p-card header="Productos en Inventario" class="mb-4">
    <p-table [value]="productos" [paginator]="true" [rows]="5">
      <ng-template pTemplate="header">
        <tr>
          <th>ID del producto</th>
          <th>Producto</th>
          <th>Presentación</th>
          <th>Stock</th>
          <th>Precio</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-producto>
        <tr>
          <td>{{ producto.id }}</td>
          <td>{{ producto.producto }}</td>
          <td>{{ producto.presentacion }}</td>
          <td>{{ producto.stock }}</td>
          <td>{{ producto.precio }}$</td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>

  <p-card header="Agregar Producto" class="mb-4">
    <div class="grid grid-cols-2 gap-2">
      <input
        pInputText
        [(ngModel)]="nuevoProducto.producto"
        placeholder="Nombre"
      />
      <input
        pInputText
        [(ngModel)]="nuevoProducto.presentacion"
        placeholder="Presentación"
      />
      <input
        pInputText
        [(ngModel)]="nuevoProducto.stock"
        type="number"
        placeholder="Stock"
      />
      <input
        pInputText
        [(ngModel)]="nuevoProducto.precio"
        type="number"
        placeholder="Precio"
      />
      <input
        pInputText
        [(ngModel)]="nuevoProducto.vencimiento"
        placeholder="Vencimiento"
      />
      <button
        pButton
        label="Agregar"
        class="p-button-success"
        (click)="agregarProducto()"
      ></button>
    </div>
  </p-card>

  <p-card header="Realizar Venta">
    <div class="grid grid-cols-2 gap-2">
      <input
        pInputText
        [(ngModel)]="venta.producto_id"
        type="number"
        placeholder="ID del Producto"
      />
      <input
        pInputText
        [(ngModel)]="venta.cantidad"
        type="number"
        placeholder="Cantidad"
      />
      <button
        pButton
        label="Vender"
        class="p-button-danger"
        (click)="venderProducto()"
      ></button>
    </div>
  </p-card>
</div>
